<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:weightSum="5"
        android:layout_marginLeft="16dp"
        android:layout_marginRight="16dp"
        android:layout_marginTop="4dp">
        <TextView
            android:id="@+id/txtName"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Name"
            android:layout_marginRight="10dp"
            android:layout_weight="1.4" />
        <TextView
            android:id="@+id/txtLon"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Longitude"
            android:layout_marginRight="10dp"
            android:layout_weight="1.8" />
        <TextView
            android:id="@+id/txtLat"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:text="Latitude"
            android:layout_weight="1.8" />
    </LinearLayout>
</LinearLayout>